.App {
  text-align: center;
}

label {
  margin: 10px;
}

input {
  margin: 0 10px;
}

.main-form-data {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.item-data-container {
  margin: 26px;
  display: flex;
  justify-content: space-around;
  border: 1px solid
}

.offline {
  color: red;
}
